* {margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    body{font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;}
    
    /* --------header-section-------- */

    img {max-width: 100%;
height: auto;
} 
@keyframes floatimage{0%{transform: translateY(0);}
50%{transform:translateY(-20px);}
100%{transform: translateY(0);}}

#img {animation: floatimage 3s ease-in-out infinite;}
    .custom-navbar {background-color: #007f73;
    
    
    }
    
    .custom-brand {font-size: 40px;
    font-weight: bold;
    color:#ffffff;
    margin-right: 480px;
    padding-left: 20px;
    }
    
    .link-color{color:#ffffff;
    font-size: 24px;
    font-weight: 480;
    }
    .custom-ul {gap:40px;}
    /* -----------home section-------- */
    .home {background-color: white;
    padding-bottom: 20px;}
    h3{font-size: 32.56px;
    font-weight: bold;
    color:#000000}
    
    h1{font-size: 52.8px;
    font-weight: bold;
    color:#000000;}
    
    .multiple-text{color:#007f73;}
    p{font-size: 14.8px;
    color:#000000;}

    .img-setting{position: relative;
        top: 30px;}
    
    /* .social-media i{background-color:transparent;
        color:#007f73;
        font-size: 30px;
        justify-content: center;
        align-items: center;
      
    width:40px;
    height: 40px;
    line-height: 42px;
    border:2px solid black;
    border-radius: 50%;} */
    
    .social-media a {
        display: flex;
        
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 2px solid #007f73;
        border-radius: 50%;
        background-color: transparent;
        margin: 5px; /* optional: spacing between icons */
        text-decoration: none; /* remove underline */
    }
    
    .social-media a:hover{background-color: #007f73;
    }

    .social-media i:hover{color: #ffffff;}
    .social-media i {
        color: #007f73;
        font-size: 30px;
    }
    
    .social-media {display: flex;}
     img{width: 70%;
    border-radius: 50%;}
    .row {display: flex;}
    
    .btn {padding:8.8px 24.64px;
    background-color: #007f73;
    font-size: 14.08px;
    color:#ffffff;
    border-radius: 30px;}
    .btn:hover{background-color: transparent;
    border: 2px solid black;}
    
    .home .row .col-1 {flex-grow: 1;}
    
    .home .row .col-2 {flex-grow: 2;}
    
    .img-set{display: flex;
    justify-content: center;
    align-items: center;}
    
    .home-col-2-set{padding-left: 30px;
    padding-right: 30px;
    padding-top:60px;}
    .home{margin-top: 40px;}
    @media(max-width:768px){.row{flex-direction: column;}
    .col-1,.col-2 {flex-grow: 0;
    width: 100%;}}
    @media only screen and (max-width:500px){.row{padding:0 30px;
       
    }
    .about-img{position: relative;
    top: 30px;}
.copyright{text-align: center;}}
    
.home-btn {margin-top:10px;}
/* ---------------section-home----------------- */
.home{background-color: #f9f9f9;
margin-bottom: 40px;}
    /* ----------about section---------------- */
    
    .about{background-color:#f9f9f9;
    margin-top: 0px;
    padding:40px 30px;}
    .about .row {display: flex;
    padding-top: 20px;
    padding-bottom: 20px;}
    
    .heading{font-size: 52.8px;
    color: #000000;
    font-weight: 600;}
    
    .about-row{gap:30px;}
    
    .about-span{color:#007f73;}
    
    .about .row .col-1{flex-grow: 2;}
    
    .about .row .col-2 {flex-grow: 1;}
    /* -----------project------------- */
    .projects-section {
      
        background-color: #f9f9f9;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 40px;
      }
      
       .projects-section h1 {
        font-size: 40px;
        margin-bottom: 10px;
        padding-top: 20px;
        color:#007f73;
      } 
      
      /* .projects-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
      } */
      
      /* .project-card {
        max-width:100%;
        background-color: white;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        border-radius: 10px;
      }
      
      .project-card img {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      
      .project-card a {
        text-decoration: none;
        color: #007BFF;
        font-weight: bold;
      }
      .git{font-size: 28px;}
      .fa-github{font-size: 35px;
    color:black;}

    .project-h2{display: flex;
    justify-content: flex-start !important;
padding-left: 40px;
font-size: 30px;
color: #007f73;
font-weight: bold;}
 */
.projects{margin-top: 40px;
  background-color:#f9f9f9;
  padding-top: 30px;
  padding-bottom: 30px;
}

.projects-h1{display: flex;
justify-content: center;
align-items: center;
padding-bottom: 20px;
color:#007f73;}
/* projects-p */
.projects-p{margin: auto;
display: flex;
text-align: center;
padding-left: 20px;
padding-right: 20px;
max-width: 80%;
font-size:16px;}
/* projects-sub-section */
.projects-sub-section{margin-top:40px}
/* projects-link-heading */
.projects-link-heading{font-size: 20px;
padding-top: 20px;
text-align: center;
justify-content: center;}

.projects-link-heading a{text-decoration: none;}
/* projects-h4-1 */
.projects-h4-1{font-weight: bold;
color:#007f73;}

/* projects-row */
.projects-row{display: flex;
gap:30px;
padding-left: 20px;
padding-right: 20px;}
/* projects-left-col */
.projects-left-col{flex-grow: 1;
padding-top: 10px;
background-color: #d5fdf9;
border-radius: 10px;
padding-left: 10px;
padding-right: 10px;}
/* projects-right-col */
.projects-right-col{flex-grow: 1;
  background-color: #d5fdf9;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
padding-top: 10px;}
/* projects-img-setting */
.projects-left-col img,.projects-right-col img{width: 100%;
border-radius: 10px;}

/* projects-section-media query */
@media(max-width:768px){.projects-row{flex-direction: column;}
.projects-h1{font-size:30px;
padding-bottom: 10px;}
.projects-h4-1{font-size: 16px;
  text-align: center;}.projects-link-heading{font-size: 16px;}
.projects{}
.main-container{overflow-x: hidden;}}

html,body{outline:2px solid red;}
      /* Responsive */
      /* @media (max-width: 768px) {
        .project-card {
          width: 90%;
        }
      }

      @media(max-width:600px){.projects-section h1 {
        font-size: 30px;
      }
    .project-h2{font-size: 24px;
    font-weight: normal;}
.git{font-size: 20px;}
.fa-github{font-size: 25px;}
.main-container{overflow: hidden;
margin-left: 0;
margin-right: 0;}
.projects-section{padding-left: 20px;}
.header{padding-left: 10px;}} */

      
    
    /* ------services section-------- */
    .services {padding-top:88px;
    margin-top: -40px;}
    .services .row {display: flex;
    padding-right: 20px;
    padding-left: 20px;}
    
    #my-icon {font-size: 70px;
    color:#007f73;
    }
    
    .service-col{background-color: #d5fdf9;
        padding:52px 16px;
        border-radius: 20px;
        text-align: center;
        gap:20px;
    }
    
    .service-p{padding:10px 20px;}
    .service-row{gap:20px;
    padding:52px 16px;}
    .services .row .col-1{flex-grow: 1;}
    
    .services-heading{font-size: 52.8px;
    color:#000000;
    font-weight: bold;
    text-align: center;}
    
    .service-span {color:#007f73;}
    
    /* -----------testimonials----------- */
    .testimonials{background-color: #d5fdf9;
    padding-top:88px;
    padding-bottom: 30px;
    margin-top:-40px;}
    
    .testimonial-img {width: 40%;
        height: 40%;
    border-radius: 50%;}
    .testimonials-col{background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-top:30px;
    border-radius: 10px;
    }
    .testimonials-h1{text-align: center;}
    .testimonials .row {display: flex;
        gap:40px;
    padding-top:20px;}
    .testimonials .row .col-1 {flex-grow: 1;}
    
    /* --------contact------------- */
    .contact {padding-bottom: 20px;}
    .contact .row{display: flex;}
    
    .contact-h1 {color:#007f73;
    text-align: center;
    padding-top:80px;}
    form{display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:4px;}
    form input {padding:10.2px;
    border:2px solid #007f73;
    width:100%;
    border-radius: 10px;
    }
    .form-col .input-box {display: flex;
    width: 100%;
    padding-left:20px;
    padding-right: 20px;
    gap:4px;}
    .text-area{width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    }
     .text-area .text-area-input{width: 100%;
    box-sizing: border-box;
    border:2px solid #007f73;
    border-radius: 10px;
    padding-left:20px;
    padding-top: 5px;
    height: auto;}
    .contact .row .col-1{flex-grow: 1;}
    
    /* .btn-contact {
        padding:8.8px 24.64px;
        background-color: #007f73;
        font-size: 14.08px;
        color:#ffffff;
        border-radius: 30px;
    width:10%;} */
    .btn-div {display: flex;
    justify-content: center;
    margin-top: 20px;}
    
    @media(max-width:768px){.form-col .input-box{flex-direction: column;}}
    /* ----------footer------------ */
    .footer{background-color: #d5fdf9;
    margin-top: 0;
padding-bottom: 20px;}
    
    .footer-row{padding-top: 40px;
    }
    
    .footer-col {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;}
    .footer .row{display: flex;}
    
    .footer .row .col-1 {flex-grow: 1;}
    
    /* .footer .social i {width: 50px;
    height: 50px;
    border:1px solid #007f73;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    
    background-color: transparent;
    font-size: 30px;} */
    .footer .social a {
        display: flex;
        
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 2px solid #007f73;
        border-radius: 50%;
        background-color: transparent;
        margin: 5px; /* optional: spacing between icons */
        text-decoration: none; /* remove underline */
        color: #007f73;
        font-size: 30px;}
        
        .social a:hover{background-color: #007f73;
        }
    
        .social i:hover{color: #ffffff;}

    .social  {display: flex;
    gap:5px}
    
    .copyright{font-size: 20px;
    padding:5px 20px;}
    .footer .social  a {text-decoration: none;}
 
    @media(max-width:768px){.testimonials-h1,.services-heading{font-size: 40px;}
    .service-h3{font-size: 27px;}
    h1{font-size: 40px;}
    .heading{font-size: 40px;}
    .contact-h1{font-size: 30px;}}

/* 
    .custom-navbar{background-color: red;
    position:fixed;
top: 0;
} */